$font__primary: 'et-book';
$font__secondary: 'et-book';

$font_size__small: 'font-size: 20px; line-height: 30px';
$font_size__regular: 'font-size: 24px; line-height: 32px';
$font_size__large: 'font-size: 30px; line-height: 40px';
$font_size__larger: 'font-size: 36px; line-height: 48px';
$font_size__xlarge: 'font-size: 48px; line-height: 56px';

$color__white__regular: #ffffff;
$color__white__dark: #f6f6f6;

$color__black__lighter: #aba8af;
$color__black__light: #564f62;
$color__black__regular: #211e26;

$color__primary: #f2f2f2;

$screen__xs: '575px';
$screen__sm: '767px';
$screen__md: '991px';
$screen__lg: '1199px';
