nav.navbar {
  padding: 3rem 10rem 0 0;
  font-size: 1.3rem;
  font-family: 'Gill Sans';

  @media (max-width: 760px) {
    nav {
      padding-top: 2rem;
      padding-right: 0px;
    }
  }

  a {
    display: block;
    float: right;
    padding: 0;
    margin: 0 2rem 0 0;

    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-decoration: none;

    /* Needed to make the links clickable. */
    position: relative;
    z-index: 1;
  }

  a:first-child {
    margin-right: 0;
  }

  a:link {
    background-image: none;
  }
}
